<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvdapiaoliang.mapper.WorkOrderAnswerEasyAskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lvdapiaoliang.entity.WorkOrderAnswerEasyAsk">
        <id column="id" property="id" />
        <result column="work_order_no" property="workOrderNo" />
        <result column="answer_person_code" property="answerPersonCode" />
        <result column="answer_person_name" property="answerPersonName" />
        <result column="answer_description" property="answerDescription" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, work_order_no, answer_person_code, answer_person_name, answer_description, create_time
    </sql>

</mapper>
